{% extends 'base.html.twig' %}

{% block titlt %}Список всех продуктов{% endblock %}

{% block main %}
    <ul>
    {{ include('common-templates/all_product_table.html.twig') }}
    <a href="{{ path('app_delete_menu') }}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">назад</a>
    </ul>
{% endblock %}