{% extends 'base.html.twig' %}

{% block title %}Корзина{% endblock %}

{% block main %}
        <div class="u-container-layout u-container-layout-3">
            <div class="u-container-style u-group u-palette-1-base u-group-4">
                <ul>
                    {% for  product in products %}
                        <div class="u-container-layout">
                            <img class="u-expanded-width u-image u-image-default u-preserve-proportions u-image-1" src="{{ asset(product.image) }}" alt="" data-image-width="180" data-image-height="120">
                            <p>{{ product.title }}</p>
                        </div>
                    {% endfor %}
                </ul>
            </div>
            <a href="{{ path('app_basket_menu') }}" class="u-btn u-btn-round u-button-style u-hover-palette-1-light-1 u-palette-1-base u-radius-50 u-btn-1">назад</a>

        </div>
{% endblock %}